##version: '3.8'

services:
  app:
    build: 
      context: ./node
      dockerfile: Dockerfile
    image: ivanaugustineli/desafio-docker-02-app
    container_name: node_app
    restart: always
   
    entrypoint: dockerize -wait tcp://db:3306 -timeout 20s 
    command: "node index.js"
   
    volumes: 
      - ./node:/usr/src/app
      - node_modules:/usr/src/app/node_modules

    depends_on:
      - db
    networks:
      - app-network

  db:
    image: mysql:8.0
    command: --innodb-use-native-aio=0
    container_name: mysql_db
    restart: always
    volumes:
      - ./mysql:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: nodedb
    ports:
      - "3306:3306"
    networks:
      - app-network

  nginx:
    image: nginx:latest
    container_name: nginx_proxy
    ports:
      - "8080:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  node_modules: